{{define "admin-serie"}}
<div class="body container">
    <div class="typecho-page-title">
        {{if .Edit}}
        <h2>编辑 {{with .Category}}{{.Name}}{{end}}</h2>
        {{else}}
        <h2>新增分类</h2>
        {{end}}
    </div>
    <div class="row typecho-page-main" role="form">
        <div class="col-mb-12 col-tb-6 col-tb-offset-3">
            <form action="/admin/api/serie-add" method="post" enctype="application/x-www-form-urlencoded">
                <ul class="typecho-option" id="typecho-option-item-name-0">
                    <li>
                        <label class="typecho-label" for="name-0-1">
                            分类名称 *</label>
                        <input id="name-0-1" name="name" type="text" class="text" {{with .Category}}value="{{.Name}}"{{end}} />
                    </li>
                </ul>
                <input type="hidden" name="mid" {{with .Category}}value="{{.ID}}"{{end}} />
                <ul class="typecho-option typecho-option-submit" id="typecho-option-item--6">
                    <li>
                        <button type="submit" class="btn primary">
                            {{if .Category}}更新分类{{else}}新增分类{{end}}</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script>
(function () {
    $(document).ready(function () {
        var error = $('.typecho-option .error:first');

        if (error.length > 0) {
            $('html,body').scrollTop(error.parents('.typecho-option').offset().top);
        }

        $('form').submit(function () {
            if (this.submitted) {
                return false;
            } else {
                this.submitted = true;
            }
        });

        $('label input[type=text]').click(function (e) {
            var check = $('#' + $(this).parents('label').attr('for'));
            check.prop('checked', true);
            return false;
        });
    });
})();
</script>
{{end}}
